@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Poppins:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

:root {
  --poppins: "Poppins", sans-serif;
  --lato: "Lato", sans-serif;
  --light: #f9f9f9;
  --blue: #3c91e6;
  --light-blue: #cfe8ff;
  --grey: #eee;
  --dark-grey: #aaaaaa;
  --dark: #342e37;
  --red: #db504a;
  --yellow: #ffce26;
  --light-yellow: #fff2c6;
  --orange: #fd7238;
  --light-orange: #ffe0d3;
}

html {
  overflow-x: hidden;
}

body.dark {
  --light: #0c0c1e;
  --grey: #060714;
  --dark: #fbfbfb;
}

body {
  background: var(--grey);
  overflow-x: hidden;
}

/* SIDEBAR */

#sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 280px;
  height: 100%;
  background: var(--light);
  z-index: 2000;
  font-family: var(--lato);
  transition: 0.3s ease;
  overflow-x: hidden;
  scrollbar-width: none;
  color: var(--light-text);
  transition: background 0.3s ease, color 0.3s ease;
}

#sidebar::--webkit-scrollbar {
  display: none;
}

#sidebar.hide {
  width: 60px;
}

#sidebar .brand {
  font-size: 20px;
  font-weight: 200;
  height: 56px;
  display: flex;
  align-items: center;
  color: var(--blue);
  position: sticky;
  top: 0;
  left: 0;
  background: var(--light);
  z-index: 200;
  padding-bottom: 20px;
  box-sizing: content-box;
}

#sidebar .brand img {
  margin-top: 10px;
  margin-left: 10px;
  width: 40px;
  height: auto;
  transition: 0.3s ease;
}

#sidebar.hide .brand img {
  width: 40px;
}

#sidebar .brand .text {
  margin-top: 10px;
  font-size: 18px;
  font-weight: 600;
  color: var(--blue);
}

#sidebar.hide .brand .text {
  display: none;
}

#sidebar .side-menu {
  width: 100%;
  margin-top: 48px;
}

#sidebar .side-menu li {
  height: 48px;
  background: transparent;
  margin-left: 6px;
  border-radius: 48px 0 0 48px;
  padding: 4px;
}

#sidebar .side-menu li.active {
  background: var(--grey);
  position: relative;
}

#sidebar .side-menu li.active::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  top: -40px;
  right: 0;
  box-shadow: 20px 20px 0 var(--grey);
  z-index: -1;
}

#sidebar .side-menu li.active::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  bottom: -40px;
  right: 0;
  box-shadow: 20px -20px 0 var(--grey);
  z-index: -1;
}

#sidebar .side-menu li a {
  width: 100%;
  height: 100%;
  background: var(--light);
  display: flex;
  align-items: center;
  border-radius: 48px;
  font-size: 16px;
  color: var(--dark);
  white-space: nowrap;
  overflow-x: hidden;
}

#sidebar .side-menu.top li.active a {
  color: var(--blue);
}

#sidebar.hide .side-menu li a {
  width: calc(48px - (4px * 2));
  transition: width 0.3s ease;
}

#sidebar .side-menu li a.logout {
  color: var(--red);
}

#sidebar .side-menu.top li a:hover {
  color: var(--blue);
}

#sidebar .side-menu li a .bx {
  min-width: calc(60px - ((4px + 6px) * 2));
  display: flex;
  justify-content: center;
}

/* SIDEBAR */

/* ICON */

.icon-img {
  width: 22px;
  height: 22px;
  margin-right: 10px;
  margin-left: 10px;
}

/* CONTENT */

#content {
  position: relative;
  width: calc(100% - 280px);
  left: 280px;
  transition: 0.3s ease;
}

#sidebar.hide ~ #content {
  width: calc(100% - 60px);
  left: 60px;
}

/* NAVBAR */

#content nav {
  height: 56px;
  background: var(--light);
  padding: 0 24px;
  display: flex;
  align-items: center;
  grid-gap: 24px;
  font-family: var(--lato);
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1000;
  justify-content: space-between;
}

#content nav::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  bottom: -40px;
  left: 0;
  border-radius: 50%;
  box-shadow: -20px -20px 0 var(--light);
}

#content nav a {
  color: var(--dark);
}

#content nav .bx.bx-menu {
  cursor: pointer;
  color: var(--dark);
}

#content nav .nav-link {
  font-size: 16px;
  transition: 0.3s ease;
}

#content nav .nav-link:hover {
  color: var(--blue);
}

/* #content nav form {
  max-width: 400px;
  width: 100%;
  margin-right: auto;
} */

/* #content nav form .form-input {
  display: flex;
  align-items: center;
  height: 36px;
}
#content nav form .form-input input {
  flex-grow: 1;
  padding: 0 16px;
  height: 100%;
  border: none;
  background: var(--grey);
  border-radius: 36px 0 0 36px;
  outline: none;
  width: 100%;
  color: var(--dark);
}
#content nav form .form-input button {
  width: 36px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--blue);
  color: var(--light);
  font-size: 18px;
  border: none;
  outline: none;
  border-radius: 0 36px 36px 0;
  cursor: pointer;
}
#content nav .notification {
  font-size: 20px;
  position: relative;
}
#content nav .notification .num {
  position: absolute;
  top: -6px;
  right: -6px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid var(--light);
  background: var(--red);
  color: var(--light);
  font-weight: 700;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
} */

#content nav .nav-left {
  display: flex;
  align-items: center;
  gap: 24px;
  /* Menjaga jarak antara menu dan ikon */
}

#content nav .nav-right {
  display: flex;
  align-items: center;
  margin-left: auto;
  /* Mengarahkan elemen profile ke kanan */
}

#content nav .profile img {
  width: 22px;
  height: 22px;
  object-fit: cover;
}

#content nav .switch-mode {
  display: block;
  min-width: 50px;
  height: 25px;
  border-radius: 25px;
  background: var(--grey);
  cursor: pointer;
  position: relative;
}

#content nav .switch-mode::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  bottom: 2px;
  width: calc(25px - 4px);
  background: var(--blue);
  border-radius: 50%;
  transition: all 0.3s ease;
}

#content nav #switch-mode:checked + .switch-mode::before {
  left: calc(100% - (25px - 4px) - 2px);
}

/* NAVBAR */

/* MAIN */

#content main {
  width: 100%;
  padding: 36px 24px;
  font-family: var(--poppins);
  max-height: calc(100vh - 56px);
  overflow-y: auto;
}

#content main .head-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  grid-gap: 16px;
  flex-wrap: wrap;
}

#content main .head-title .left h1 {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 10px;
  color: var(--dark);
}

#content main .head-title .left .breadcrumb {
  display: flex;
  align-items: center;
  grid-gap: 16px;
}

#content main .head-title .left .breadcrumb li {
  color: var(--dark);
}

#content main .head-title .left .breadcrumb li a {
  color: var(--dark-grey);
  pointer-events: none;
}

#content main .head-title .left .breadcrumb li a.active {
  color: var(--blue);
  pointer-events: unset;
}

#content main .head-title .btn-download {
  height: 36px;
  padding: 0 16px;
  border-radius: 36px;
  background: var(--blue);
  color: var(--light);
  display: flex;
  justify-content: center;
  align-items: center;
  grid-gap: 10px;
  font-weight: 500;
}

#content main .box-info {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  /* Mengatur responsif */
  grid-gap: 24px;
  margin-top: 36px;
}

#content main .box-info li {
  display: flex;
  /* Tampilkan elemen dalam satu baris */
  align-items: center;
  /* Rata tengah vertikal */
  justify-content: flex-start;
  /* Awali dengan teks */
  padding: 16px;
  background: var(--light);
  border-radius: 20px;
  grid-gap: 30px;
}

#content main .box-info li img.img-box {
  width: 150px;
  /* Ukuran gambar */
  height: 120px;
  border-radius: 10px;
  margin-left: auto;
  /* Memindahkan gambar lebih ke kanan */
}

#content main .box-info li .text h3 {
  font-size: 18px;
  /* Ukuran font disesuaikan */
  font-weight: 600;
  color: var(--dark);
  margin: 0;
  /* Hilangkan margin default */
}

#content main .box-info li .text p {
  color: var(--dark);
  margin: 4px 0 0;
  /* Sedikit spasi atas */
}

#content main .table-data {
  display: flex;
  flex-wrap: wrap;
  grid-gap: 24px;
  margin-top: 24px;
  width: 100%;
  color: var(--dark);
}

#content main .table-data > div {
  border-radius: 20px;
  background: var(--light);
  padding: 24px;
  overflow-x: auto;
}

#content main .table-data .head {
  display: flex;
  align-items: center;
  grid-gap: 16px;
  margin-bottom: 24px;
}

#content main .table-data .head h3 {
  margin-right: auto;
  font-size: 24px;
  font-weight: 600;
}

#content main .table-data .head .bx {
  cursor: pointer;
}

#content main .table-data .order {
  flex-grow: 1;
  flex-basis: 500px;
}

#content main .table-data .order table {
  width: 100%;
  border-collapse: collapse;
}

#content main .table-data .order table th {
  padding-bottom: 12px;
  font-size: 13px;
  text-align: left;
  border-bottom: 1px solid var(--grey);
}

#content main .table-data .order table td {
  padding: 16px 0;
}

#content main .table-data .order table tr td:first-child {
  display: flex;
  align-items: center;
  grid-gap: 12px;
  padding-left: 6px;
}

#content main .table-data .order table td img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  object-fit: cover;
}

#content main .table-data .order table tbody tr:hover {
  background: var(--grey);
}

#content main .table-data .order table tr td .status {
  font-size: 10px;
  padding: 6px 16px;
  color: var(--light);
  border-radius: 20px;
  font-weight: 700;
}

#content main .table-data .order table tr td .status.completed {
  background: var(--blue);
}

#content main .table-data .order table tr td .status.process {
  background: var(--yellow);
}

#content main .table-data .order table tr td .status.pending {
  background: var(--orange);
}

#content main .table-data .todo {
  flex-grow: 1;
  flex-basis: 300px;
}

#content main .table-data .todo .todo-list {
  width: 100%;
}

#content main .table-data .todo .todo-list li {
  width: 100%;
  margin-bottom: 16px;
  background: var(--grey);
  border-radius: 10px;
  padding: 14px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#content main .table-data .todo .todo-list li .bx {
  cursor: pointer;
}

#content main .table-data .todo .todo-list li.completed {
  border-left: 10px solid var(--blue);
}

#content main .table-data .todo .todo-list li.not-completed {
  border-left: 10px solid var(--orange);
}

#content main .table-data .todo .todo-list li:last-child {
  margin-bottom: 0;
}

/* MAIN */

/* CONTENT */

@media screen and (max-width: 768px) {
  #sidebar {
    width: 200px;
  }
  #content {
    width: calc(100% - 60px);
    left: 200px;
  }
  #content nav .nav-link {
    display: none;
  }
}

@media screen and (max-width: 576px) {
  #content nav form .form-input input {
    display: none;
  }
  #content nav form .form-input button {
    width: auto;
    height: auto;
    background: transparent;
    border-radius: none;
    color: var(--dark);
  }
  #content nav form.show .form-input input {
    display: block;
    width: 100%;
  }
  #content nav form.show .form-input button {
    width: 36px;
    height: 100%;
    border-radius: 0 36px 36px 0;
    color: var(--light);
    background: var(--red);
  }
  #content nav form.show ~ .notification,
  #content nav form.show ~ .profile {
    display: none;
  }
  #content main .box-info {
    grid-template-columns: 1fr;
  }
  #content main .table-data .head {
    min-width: 420px;
  }
  #content main .table-data .order table {
    min-width: 420px;
  }
  #content main .table-data .todo .todo-list {
    min-width: 420px;
  }
}

/* PAGE AWAL*/

.page-awal {
  height: 100vh;
  /* Tinggi layar penuh */
  width: 100vw;
  /* Lebar layar penuh */
  position: relative;
  /* Atur posisi elemen */
  overflow: hidden;
  /* Hindari konten keluar layar */
  display: flex;
  justify-content: center;
  align-items: center;
}

.background-img {
  position: absolute;
  /* Tempatkan gambar di belakang */
  top: 0;
  left: 0;
  width: 100%;
  /* Penuhi lebar layar */
  height: 100%;
  /* Penuhi tinggi layar */
  object-fit: cover;
  /* Gambar penuh tanpa ruang kosong */
  object-position: center;
  /* Fokus pada bagian tengah gambar */
  z-index: -1;
  /* Gambar di belakang konten */
}

.content {
  text-align: center;
  color: white;
  padding: 20px;
  border-radius: 10px;
  margin-top: 400px;
}

.btn-login {
  margin-top: 30px;
  /* Jarak antara tombol dan teks */
  padding: 10px 20px;
  /* Ukuran tombol */
  font-size: 16px;
  font-weight: bold;
  color: white;
  background-color: #040047;
  /* Warna biru */
  text-decoration: none;
  /* Hilangkan garis bawah */
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-login:hover {
  background-color: #040047;
  /* Warna biru lebih gelap saat hover */
}

.header {
  display: flex;
  /* Gunakan flexbox untuk tata letak horizontal */
  align-items: center;
  /* Vertikal rata tengah */
  position: absolute;
  top: 20px;
  /* Jarak dari atas */
  left: 20px;
  /* Jarak dari kiri */
  z-index: 10;
  /* Letakkan di atas elemen lainnya */
}

.logo-img {
  width: 40px;
  /* Ukuran logo */
  height: auto;
  /* Jaga proporsi gambar */
  margin-right: 12px;
  /* Jarak antara logo dan teks */
}

.text {
  color: #040047;
  /* Warna teks */
}

.text h1 {
  font-size: 18px;
  /* Ukuran teks judul */
  margin: 0;
}

/* LOGIN */

.login-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 450px;
  padding: 30px;
  background-color: white;
  /* Background semi-transparan */
  border-radius: 10px;
  text-align: center;
  color: #040047;
}

.login-box h2 {
  margin-bottom: 20px;
  font-size: 24px;
}

.input-group {
  margin-bottom: 15px;
  text-align: left;
}

.input-group label {
  font-size: 14px;
  margin-bottom: 5px;
  display: block;
  color: #040047;
}

.input-group input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  background-color: #ffba18;
  color: #040047;
}

.login-btn {
  width: 100%;
  padding: 10px;
  background-color: #ffba18;
  /* Warna hijau */
  color: #040047;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
}

.login-btn:hover {
  background-color: #ffba18;
}

.gambar {
  position: absolute;
  top: 110px;
  /* Jarak dari atas */
  width: 550px;
  /* Sesuaikan ukuran logo */
  height: auto;
  z-index: 10;
  /* Pastikan berada di atas latar belakang */
}

/* DATA DOKTER */

#data {
  margin-top: 80px;
  margin-right: 20px;
  margin-left: calc(60px + 20px);
  /* 60px untuk sidebar hide */
  transition: margin-left 0.3s ease;
  /* Animasi halus saat sidebar berubah */
}

#sidebar:not(.hide) ~ #data {
  margin-left: calc(280px + 20px);
  /* 280px untuk sidebar terbuka */
}

.data-terbaru-header-container {
  padding: 20px;
  font-family: Arial, sans-serif;
  background-color: #81c2d3;
  border-radius: 10px;
  color: #040047;
}

.data-terbaru-header-container h2 {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
}

/* Container Tabel */

.data-terbaru-container {
  padding: 20px;
  font-family: Arial, sans-serif;
  background-color: white;
  border-radius: 10px;
}

/* Header Tombol */

.data-terbaru-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;
}

.data-terbaru-header button {
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  color: #040047;
  cursor: pointer;
  font-weight: bold;
  font-size: 14px;
}

.data-terbaru-header .btn-kembali {
  background-color: #81c2d3;
}

.data-terbaru-header .btn-tambah {
  margin-left: 5px;
  background-color: #ffba18;
}

.data-terbaru-header .btn-print {
  background-color: #ffba18;
  margin-left: auto;
}

/* .btn-kurangi {
  background-color: #ff1818;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  margin: 5px;
} */

/* Tabel */

.data-terbaru-table {
  width: 100%;
  /* Lebar tabel menyesuaikan kontainer */
  border-collapse: collapse;
  background-color: white;
  border-radius: 8px;
  overflow: hidden;
  transition: width 0.3s ease;
  /* Tambahkan transisi */
}

.data-terbaru-table thead {
  background-color: white;
  color: #333;
  text-align: left;
}

.data-terbaru-table thead th {
  padding: 12px;
  font-size: 14px;
  font-weight: bold;
}

.data-terbaru-table tbody tr:nth-child(odd) {
  background-color: #f9f9f9;
}

.data-terbaru-table tbody tr:nth-child(even) {
  background-color: #ffffff;
}

.data-terbaru-table tbody tr:hover {
  background-color: #e7f6fb;
}

.data-terbaru-table tbody td {
  padding: 10px;
  font-size: 14px;
  color: #040047;
  text-align: left;
}

/* Tombol Edit */

/* .data-terbaru-table .btn-edit {
  background-color: #ffba18;
  color: #040047;
  border: none;
  padding: 5px 10px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  margin: 5px;
}

.data-terbaru-table .btn-edit i {
  font-size: 14px;
}

.data-terbaru-table .btn-hapus {
  background-color: #ff1818;
  color: #040047;
  border: none;
  padding: 5px 10px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  margin: 5px;
}

.data-terbaru-table .btn-hapus i {
  font-size: 14px;
} */

/* Menjadikan tombol berada dalam satu kolom vertikal */
.data-terbaru-table .btn-edit,
.data-terbaru-table .btn-hapus,
.btn-kurangi {
  width: 100%; /* Tombol akan mengambil lebar penuh di dalam kontainer */
  background-color: #ffba18; /* Warna default untuk tombol Edit */
  color: #040047;
  border: none;
  padding: 5px 10px; /* Menyesuaikan padding untuk ukuran lebih kecil */
  border-radius: 20px;
  cursor: pointer;
  font-size: 12px; /* Ukuran font disesuaikan agar tombol tidak terlalu besar */
  display: block; /* Tombol akan ditampilkan dalam satu kolom vertikal */
  align-items: center;
  justify-content: center;
  margin: 5px 0; /* Memberikan jarak antar tombol */
  height: auto; /* Menyesuaikan tinggi tombol sesuai konten */
  text-align: center;
}

/* Tombol Hapus dengan warna merah */
.data-terbaru-table .btn-hapus {
  background-color: #ff1818; /* Warna merah untuk tombol Hapus */
  color: white;
}

/* Tombol Kurangi dengan warna merah */
.btn-kurangi {
  background-color: #ff1818; /* Warna merah untuk tombol Kurangi */
  color: white;
}

/* form tambah barang */

.form-container {
  /* background-color: #ffffff; */
  padding: 14px;
  border: none;
  border-radius: 10px;
}

.form-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.form-row:last-child {
  margin-bottom: 0;
}

.form-row label {
  flex: 0 0 30%;
  font-size: 16px;
  font-weight: bold;
  color: #040047;
}

.form-row input,
.form-row textarea {
  flex: 1;
  padding: 10px;
  font-size: 14px;
  color: #333;
  border: 1px solid #cccccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

textarea {
  resize: vertical;
  height: 80px;
}

/* group */
.form-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.form-group:last-child {
  margin-bottom: 0;
}

.form-group label {
  flex: 0 0 30%;
  font-size: 16px;
  font-weight: bold;
  color: #040047;
}

.form-group input,
.form-group textarea {
  flex: 1;
  padding: 10px;
  font-size: 14px;
  color: #333;
  border: 1px solid #cccccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

/* Gaya umum untuk tombol */
.form-container .button {
  display: flex; /* Gunakan flexbox */
  justify-content: flex-end; /* Posisi tombol di kanan */
  margin-top: 15px; /* Jarak tombol dari elemen sebelumnya */
}

.form-container .btn-simpan {
  padding: 10px 20px; /* Tambahkan padding untuk ukuran tombol */
  background-color: #ffba18; /* Warna latar belakang */
  color: #040047; /* Warna teks */
  border: none; /* Hapus border default tombol */
  border-radius: 20px; /* Membuat tombol dengan ujung membulat */
  cursor: pointer; /* Menampilkan ikon tangan saat hover */
  font-weight: bold; /* Teks tebal */
  font-size: 14px; /* Ukuran font */
}

.button-form {
  display: flex;
  /* Flexbox layout */
  justify-content: flex-end;
  /* Tombol berada di kanan */
  padding: 20px;
  padding-left: 60px;
  /* Tambahkan jarak lebih ke kanan */
  font-family: Arial, sans-serif;
  background-color: white;
  border-radius: 10px;
}

.button-form .btn-hapus {
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  color: white;
  cursor: pointer;
  font-weight: bold;
  font-size: 14px;
  background-color: #2b7ecf;
  transition: background-color 0.3s ease;
  margin-left: 20px;
}
